<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/prod.css">
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <div id="popup1" class="overlay">
        <div class="popup">

            <h2>Index Query please!</h2>
            <a class="close" href="#">&times;</a>
            <input id="indexQuery" type="text" class="content" placeholder="Indexid" required>
            <a class="listQuery">?</a>
        </div>
    </div>

    <div class="box">
        <a class="button" href="#popup1">Indexing</a>
    </div>

    <script>
        $('#indexQuery').keydown(function (e) {
            if (e.keyCode === 13) {
                indexesSite();
            }
        });

        class indexPagex {
            constructor(url, status) {
                this.url = url;
                this.status = status;
            }
        }

        function indexesSite() {
            $(document).ready(function () {
                var queryInput = document.getElementById("indexQuery");
                var url = queryInput.value;

                fetch('api/Index/Index?Url=' + url);
            });
        }

        var pages = [];

        function listIndexing(listQuer) {
            $(document.body).ready(function () {
                $('.listQuery').on('click', function () {
                    for (var i = 0; i < listQuer.length; i++) {
                        if (listQuer[i].errorMessage == null) {
                            pages[i] = new indexPagex(listQuer[i].url, "ok");

                        } else {
                            pages[i] = new indexPagex(listQuer[i].url, "error");
                        }
                    }
                    for (var i = 0; i < pages.length; i++) {
                        console.log(pages[i].url, pages[i].status);

                    }
                    alert(pages.map(e => `Url: "${e.url}";    Status: ${e.status}`).join("\n"));
                });

            });
        }
    </script>

    <canvas id="pictur"></canvas>

    <script src="~/js/fabric.js"></script>

    <script>
        var canvas = document.getElementById('pictur'),
            context = canvas.getContext('3d');
        canvas.width = window.innerWidth / 2;
        canvas.height = window.innerHeight / 2;

        var canvas1 = new fabric.StaticCanvas('pictur');
        var textSearch = new fabric.Text("Search", {
            fontFamily: 'Liana',
            left: 70,
            top: 50,
            width: 150,
            fontSize: 100,
            fill: 'white'
        });
        canvas1.add(textSearch);
    </script>

    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
