a {
    background: #9c78aac2;
    display: inline-block;
    padding: 5px 10px;
    font-size: 17px;
    
    text-decoration: none;
    font-weight: 700;
    
}

a:hover {
    background: rgb(239, 185, 255);
    border: 1px solid #b091b4;
    box-shadow: #8d7e94 0px 0px 10px -4px inset;
}

a:active {
    background: #2c3942;
    border: 1px solid #062235;
    box-shadow: #08436d 0px 0px 10px -2px;
}

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: rgb(44, 53, 105);
    margin: 80px 0;
}

.button {
    font-size: 20px;
    padding: 10px;
    color: #fff;
    box-shadow: 0 5px 2px 0 rgb(42, 12, 90);
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin-left: 90%;
    margin-top: 10px;
}

.button:hover {
    background: rgb(119, 63, 136);
}

.listQuery {
    position: absolute;
    bottom: 10px;
    font-size: 1em;
    padding: 7px;
    color: #fff;
    border-radius: 80px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
    box-shadow: #002742 0px 0px 10px -2px;
}

    .listQuery:hover {
        background: rgba(122, 66, 136, 0.678);
    }

.button_ok {
    height: auto;
}
    
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    margin-right: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: rgb(96, 41, 168);
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup input {
    background: transparent;
    border: none;
    padding: 10px;
    width: 90%;
    font-size: 20px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #E1BEE7;
    margin: auto;
    padding: 0;
    border: 5px solid rgb(236, 209, 248);
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
    font-family: italic, cursive;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius:20px;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: rgba(249, 212, 255, 0.815);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.modal-body {
    padding: 2px 16px;
}

table {
    width: 100%;
    /* Ўирина таблицы */
    background: white;
    /* ÷вет фона таблицы */
    color: rgb(0, 0, 0);
    /* ÷вет текста */
    border-spacing: 1px;
    /* –ассто€ние между €чейками */
    border-radius: 10px;
}

td,
th {
    background: rgb(255, 224, 248);
    /* ÷вет фона €чеек */
    padding: 5px;
    /* ѕол€ вокруг текста */
    border-radius: 10px;
    font-size:12px;
}