* {
    outline: none;
}

html, body {
    height: 100%;
    min-height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(to right, rgb(67, 26, 88), #a3b4d3);
    font-family:Liana;
}

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

@font-face {
    font-family: 'Liana';
    src: url(~/ttf/9099.ttf);
}

input, button {
    color: rgb(13, 7, 65);
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 600px;
    padding: 5px;
    margin: -10px auto 0 auto;
    background-color: #e6eef7;
    border-radius: 20px;
    box-shadow: 0 0px 10px #fff, 0 0 0 8px rgb(33,35,71);
}

form {
    height: 60px;
}

input[type="text"] {
    width: 100%;
    height: 50px;
    font-size: 30px;
}

    input[type="text"]::placeholder {
        color: #c8c0cc;
    }

#s-cover {
    width: 9px;
    padding-left: 10px;
}

button {
    position: relative;
    display: block;
    width: 80px;
    height: 70px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -16px;
    left: 11px;
    width: 30px;
    height: 30px;
    margin-top: 0;
    border-width: 10px;
    border: 4px solid rgb(35, 10, 43);
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span {
    position: absolute;
    top: 40px;
    left: 43px;
    display: block;
    width: 45px;
    height: 20px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

    button span:before, button span:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 20px;
        width: 30px;
        height: 8px;
        background-color: rgb(13, 7, 65);
        border-radius: 5px;
        transform: rotateZ(0);
        transition: 0.5s ease all;
    }

#s-cover:hover #s-circle {
    top: -6.5px;
    width: 60px;
    height: 15px;
    border-width: 0;
    background-color: rgb(13, 7, 65);
    border-radius: 10px;
}

#s-cover:hover span {
    top: 30%;
    left: 36px;
    width: 30px;
    margin-top: -10px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 10px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -13px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before, #s-cover:hover button span:after {
    right: -18px;
    width: 36px;
    background-color: rgb(13, 7, 65);
}


