@{
    ViewBag.Title = "Search";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<style>
    .block_after {
    position: relative;
    top: 70px;
    bottom: 0;
    left: 370px;
    right: 0;
    width: 560px;
    height: 90px;
    margin: 10px;
    background: #e6eef7;
    color: rgb(13, 7, 65);
    display: none;
}

.block_after.topDown {
    top: 50px;
}
</style>

<div id="cover">
    <div class="tb">
        <div class="td">
            <input type="text" id="queryInput" placeholder="Search" required>
        </div>
        <div class="td" id="s-cover">
            <button class="link" onclick="search()">
                <div id="s-circle"></div>
                <span></span>
            </button>
        </div>
    </div>
</div>
<div class='block'></div>


<script>

    $('#queryInput').keydown(function (e) {
        if (e.keyCode === 13) {
            search();
        }
    });

    function search() {
        $(document).ready(function () {
            var queryInput = document.getElementById("queryInput");
            var query = queryInput.value;

            fetch('api/Search?Query=' + query).then(function (response) {
                response.json().then(function (parsedJson) {
                    var results = parsedJson.results;
                    searchQuery(results);
                });
            });
        });
    }

    function searchQuery(result) {
        $(document.body).ready(function () {
            $('.block_after').remove();
                for (var i = 0; i < result.length; i++) {
                    $('.block').queue(function () {
                        $(this).append('<div class="block_after">' + '<p>' + result[i].title + '</p>' + '<a href="'+ result[i].url+'">'+result[i].url +'</a>'+ '</div>');
                        $(this).addClass("topDown");
                        $(this).dequeue();
                    });
                    $('.block_after').css({ fontSize: 20 + 'px', padding: 15 + 'px' });
                    $('.block_after').show("slow");
                }   
        });
    }
</script>

